---
layout: tags
title: Tags
permalink: /tags/
author_profile: true
---
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.portfolio %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% assign num_tags = 0 %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
			{% assign num_tags = num_tags | plus: 1 %}
		{% endunless %}
	{% endif %}
{% endfor %}


{% assign num_rows = num_tags | divided_by: 4.0 %}
{% assign num_rows = num_rows | ceil %}

{% assign tag_index = 0 %}
{% assign num_tags = num_tags | plus: 1 %}

<table>
{% for row in (0..num_rows) %}
	<tr>
	{% for col in (0..4) %}
		{% assign num_posts = 0 %}
		{% for post in site.portfolio %}
			{% if post.tags contains tags[tag_index] %}
				{% assign num_posts = num_posts | plus: 1 %}
			{% endif %}
		{% endfor %}

		{% unless tag_index == num_tags %}
		<td><a href="#{{ tags[tag_index] | slugify }}"> {{ tags[tag_index]}} </a> {{ num_posts }} </td>
		{% assign tag_index = tag_index | plus: 1 %}
		{% endunless %}
	{% endfor %}
	</tr>

{% endfor %}
</table>

<!--{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in tags %}
	<li>
		<p><a href="#{{ tag | slugify }}"> {{ tag }} </a></p>
	</li>
{% endfor %}
-->
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
	<ul>
	 {% for post in site.portfolio %}
		 {% if post.tags contains tag %}
		 <li>
		 <h3>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{{ post.date | date_to_string }}</small>
		 </a>
		 <!--{% for tag in post.tags %}
		 <a class="tag" href="/tags/#{{ tag | slugify }}"><small> {{ tag }} </small></a>
		 {% endfor %} -->
		 </h3>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}


